<div
  class="position-relative px-1 px-md-5 overflow-auto animate-block"
  style="height: 80vh;"
  [ngClass]="{ show: showContent == true }"
>
  <div
    class="d-flex align-items-center justify-content-center text-center text-white font-weight-bold m-0 w-100 h-100"
  >
    <div>
      <div>
        <h4
          class="d-inline-block align-middle font-shadows"
          (click)="copyText('akshaykarajgikar@gmail.com')"
        >
          akshaykarajgikar@gmail.com
        </h4>
      </div>
      <div>
        <button
          (click)="copyText('akshaykarajgikar@gmail.com')"
          class="d-inline-block align-middle btn bg-white rounded-lg mb-2"
        >
          <i class="far fa-copy"></i>&nbsp;<span
            id="email"
            class="font-oswald font-weight-bold"
            >Copy</span
          >
        </button>
        <button
          (click)="sendEmail()"
          class="d-inline-block align-middle btn bg-white rounded-lg mb-2 ml-2 font-oswald font-weight-bold py-2"
        >
          Send me an email
        </button>
      </div>
      <a href="https://github.com/akshaykarajgikar" class="text-white"
        ><h4 class="font-shadows my-3">Github</h4></a
      >
      <a
        href="https://www.linkedin.com/in/akshay-k-880476124"
        class="text-white"
        ><h4 class="font-shadows my-3">LinkedIn</h4></a
      >
      <img
        src="./../../../assets/contact-me-image.gif"
        alt=""
        class="my-3"
        style="max-width: 200px;"
      />
    </div>
  </div>
</div>
