<div
  class="position-relative px-1 px-md-5 overflow-auto animate-block"
  style="height: 80vh;"
  [ngClass]="{ show: showContent == true }"
>
  <div
    class="row align-items-center justify-content-between text-white m-0 h-100"
  >
    <div class="col-xs-12 col-lg-5">
      <div class="font-shadows">
        <p>
          Hey, I'm <b>Akshay Karajgikar</b>. I'm a self taught Web Developer
          (google also helped) building cool stuff.
        </p>
        <p>
          I have more than a year of experience as a
          <b>Software Specialist</b> and now looking forward to work in Web
          Development.
        </p>
        <p>
          I have worked on several projects from scratch without frameworks and
          have aquired skills in
          <i class="fab fa-html5 fa-2x"></i>&nbsp;
          <i class="fab fa-sass fa-2x"></i>&nbsp;
          <i class="fab fa-js fa-2x"></i>&nbsp;, also worked on wireframes in
          <i class="fab fa-figma fa-2x"></i>&nbsp; and
          <i class="fab fa-adobe fa-2x"></i>&nbsp;. Currently working
          with&nbsp;<i class="fab fa-angular fa-2x"></i>.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-5 text-right">
      <h5 class="font-oswald">Qualification</h5>
      <div class="font-shadows">
        <p>Bachelor of Computer Engineering</p>
        <p>Savitribai Phule Pune University</p>
        <p>(2013 - 2016)</p>
      </div>
    </div>
    <div class="col-12">
      <h5 class="font-oswald my-3">Tech Stack</h5>
      <div class="row align-items-center justify-content-between m-0">
        <div
          class="col-xs-12 col-xl-3 border-left border-bottom border-white position-relative mb-4"
          style="border-width: 10px !important;"
        >
          <div
            class="position-absolute d-none d-md-block"
            style="z-index: 0; right: 0;"
          >
            <img
              src="./../../../assets/meme-1.jpg"
              alt=""
              style="max-width: 100px;"
            />
          </div>
          <div class="position-relative" style="z-index: 1;">
            <h6 class="font-oswald py-2">Front-end development</h6>
            <div class="row py-3">
              <div class="col-auto text-center font-shadows">
                <div>
                  <i class="fab fa-html5 fa-2x"></i>
                </div>
                <div>HTML</div>
              </div>
              <div class="col-auto text-center font-shadows">
                <div>
                  <i class="fab fa-sass fa-2x"></i>
                </div>
                <div>SCSS</div>
              </div>
              <div class="col-auto text-center font-shadows">
                <div>
                  <i class="fab fa-js fa-2x"></i>
                </div>
                <div>Javascript</div>
              </div>
              <div class="col-auto text-center font-shadows">
                <div>
                  <i class="fab fa-angular fa-2x"></i>
                </div>
                <div>Angular</div>
              </div>
              <div class="col-auto text-center font-shadows">
                <div>
                  <i class="fab fa-react fa-2x"></i>
                </div>
                <div>React</div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xs-12 col-xl-3 border-left border-bottom border-white position-relative mb-4"
          style="border-width: 10px !important;"
        >
          <div
            class="position-absolute d-none d-md-block"
            style="z-index: 0; right: 0;"
          >
            <img
              src="./../../../assets/meme-2.jpg"
              alt=""
              style="max-width: 100px;"
            />
          </div>
          <div class="position-relative" style="z-index: 1;">
            <h6 class="font-oswald py-2">Back-end development</h6>
            <div class="row py-3">
              <div class="col-auto text-center font-shadows">
                <div>
                  <i class="fas fa-database fa-2x"></i>
                </div>
                <div>MYSQL</div>
              </div>
              <div class="col-auto text-center font-shadows">
                <div>
                  <i class="fab fa-java fa-2x"></i>
                </div>
                <div>Java</div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-xs-12 col-xl-3 border-left border-bottom border-white position-relative mb-4"
          style="border-width: 10px !important;"
        >
          <div
            class="position-absolute d-none d-md-block"
            style="z-index: 0; right: 0;"
          >
            <img
              src="./../../../assets/meme-3.jpg"
              alt=""
              style="max-width: 100px;"
            />
          </div>
          <div class="position-relative" style="z-index: 1;">
            <h6 class="font-oswald py-2">UI / UX design</h6>
            <div class="row py-3">
              <div class="col-auto text-center font-shadows">
                <div>
                  <i class="fab fa-figma fa-2x"></i>
                </div>
                <div>Figma</div>
              </div>
              <div class="col-auto text-center font-shadows">
                <div>
                  <i class="fab fa-adobe fa-2x"></i>
                </div>
                <div>AdobeXD</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
