<div
  class="position-relative overflow-hidden animate-block"
  [ngClass]="{ show: showContent == true }"
>
  <pre id="backgroundCode">
    <div class="typewriter">
        <div class="outer"><div class="typewriter-text">1&nbsp;    &lt;<code class="tags">body</code>></div></div>
        <div class="outer"><div class="typewriter-text">2&nbsp;   |</div></div>
        <div class="outer"><div class="typewriter-text">3&nbsp;   | &lt;<code class="tags">div</code> &nbsp;<code class="elements">class</code><code class="ids">="container"</code>></div></div>
        <div class="outer"><div class="typewriter-text">4&nbsp;   | | </div></div>
        <div class="outer"><div class="typewriter-text">5&nbsp;   | | &lt;<code class="tags">div</code> &nbsp;<code class="elements">class</code><code class="ids">="another nav class"</code>></div></div>
        <div class="outer"><div class="typewriter-text">6&nbsp;   | | | &lt;<code class="tags">div</code> &nbsp;<code class="elements">class</code><code class="ids">="of-course-its-a-wrapper cause-why-not"</code>></div></div>
        <div class="outer"><div class="typewriter-text">7&nbsp;   | | | | &lt;<code class="tags">div</code> &nbsp;<code class="elements">class</code><code class="ids">="tired-of-classes-now"</code>></div></div>
        <div class="outer"><div class="typewriter-text">8&nbsp;   | | | | | &lt;<code class="tags">span</code> &nbsp;<code class="elements">class</code><code class="ids">="bigger-font"</code>></div></div>
        <div class="outer"><div class="typewriter-text">9&nbsp;   | | | | | | &lt;<code class="tags">h1</code>>Hello World!&lt;/<code class="tags">h1</code>></div></div>
        <div class="outer"><div class="typewriter-text">10    | | | | | &lt;/<code class="tags">span</code>></div></div>
        <div class="outer"><div class="typewriter-text">11    | | | | &lt;/<code class="tags">div</code>></div></div>
        <div class="outer"><div class="typewriter-text">12    | | | &lt;/<code class="tags">div</code>> </div></div>
        <div class="outer"><div class="typewriter-text">13    | | &lt;/<code class="tags">div</code>></div></div>
    </div>
</pre>
  <div
    class="position-relative px-1 px-md-5 overflow-auto"
    style="height: 80vh;"
  >
    <div class="d-flex align-items-center font-weight-bold m-0 w-100 h-100">
      <div>
        <h2 class="text-white font-oswald">hey there!</h2>
        <h1 class="text-yellow font-oswald">I'm Akshay Karajgikar</h1>
        <div class="row m-0">
          <div class="col-auto bg-white m-2">
            <h4 class="font-weight-bold text-black px-2 font-monospace">
              Web Developer
            </h4>
          </div>
          <div class="col-auto bg-white m-2">
            <h4 class="font-weight-bold text-black px-2 font-shadows">
              UI / UX Designer
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
